.header {
  width: 100%; /* Mantém o cabeçalho em 100% da largura */
}

.formulario {
  max-width: 900px; /* Mantém o formulário em uma largura específica */
  margin: 0 auto; /* Centraliza o formulário */
}